<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<div class="container-fluid">
  <div class="container" id="calculator-container">
    <div class="row">
      <div class="col-12">
        <input class="form-control" type="text" id="result" disabled>
      </div>
      <div class="col-9 d-grid">
        <div class="row">
          <div class="btn-group" role="group">
            <button class="btn btn-primary col-4" (click)="appendToResult(9)">9</button>
            <button class="btn btn-primary col-4" (click)="appendToResult(8)">8</button>
            <button class="btn btn-primary col-4" (click)="appendToResult(7)">7</button>
          </div>
        </div>
        <div class="row">
          <div class="btn-group" role="group">
            <button class="btn btn-primary col-4" (click)="appendToResult(6)">6</button>
            <button class="btn btn-primary col-4" (click)="appendToResult(5)">5</button>
            <button class="btn btn-primary col-4" (click)="appendToResult(4)">4</button>
          </div>
        </div>
        <div class="row">
          <div class="btn-group" role="group">
            <button class="btn btn-primary col-4" (click)="appendToResult(3)">3</button>
            <button class="btn btn-primary col-4" (click)="appendToResult(2)">2</button>
            <button class="btn btn-primary col-4" (click)="appendToResult(1)">1</button>
          </div>
        </div>
        <div class="row">
          <div class="btn-group" role="group">
            <button class="btn btn-primary col-4" (click)="appendToResult('.')">.</button>
            <button class="btn btn-primary col-4" (click)="appendToResult(0)">0</button>
            <button class="btn btn-primary col-4" (click)="appendToResult('00')">00</button>
          </div>
        </div>
      </div>
      <div class="col-3 d-grid">
        <div class="btn-group-vertical" role="group">
          <button class="btn btn-danger" (click)="clearResult()">DEL</button>
          <button class="btn btn-warning" (click)="appendToResult('/')">/</button>
          <button class="btn btn-warning" (click)="appendToResult('*')">X</button>
          <button class="btn btn-warning" (click)="appendToResult('-')">-</button>
          <button class="btn btn-warning" (click)="appendToResult('+')">+</button>
          <button class="btn btn-success" (click)="calculate()">=</button>
        </div>
      </div>
    </div>
  </div>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet></router-outlet>
